<div class="row">
    <h1>Greeted names: </h1>
    <ul>
        {{#each greeted}}<a href="/greeted/{{name}}">
            <li>{{name}}</li>
        </a>
        {{/each}}
    </ul>
 <h3> {{greetedName}}</h3>

    <div>
        <a href="/">
            <button type="submit" class="back">back</button>
        </a>
    </div>

</div>