<div class="row" style="background-color: blue;">
    <h1>Greetings</h1>

    <div class="message"></div>

    <div class="error"></div>

    <div class="textbox">
        <form action="/greetings" method="POST"> <strong>Name: </strong>
            <input type="text" class="nameEntered" placeholder="enter name">
        </form>
    </div>

    <div class="radioGreet">
        <form action="/greetings" method="POST">
            <input type="radio" name="language" value="English">English
            <!-- <input type="radio" name="language" value="Afrikaans">Afrikaans -->
            <input type="radio" name="language" value="IsiXhosa">IsiXhosa
            <input type="radio" name="language" value="IsiZulu">IsiZulu
            <input type="radio" name="language" value="Venda">Venda
        </form>
    </div>

    <div class="counter"></div>

    <div>
        <button type="submit" class="greetUpdate">greet me</button>
    </div>

</div>