<div class="row">
    <h1>Greetings</h1>

    <div class="message"></div>

    <div class="error"></div>

    <div class="textbox">
        <strong>Name: </strong>
        <input type="text" class="nameEntered" placeholder="enter name">
    </div>

    <div class="radioGreet">

        <input type="radio" name="language" value="English">English
        <!-- <input type="radio" name="language" value="Afrikaans">Afrikaans -->
        <input type="radio" name="language" value="IsiXhosa">IsiXhosa
        <input type="radio" name="language" value="IsiZulu">IsiZulu
        <input type="radio" name="language" value="Venda">Venda
    </div>

    <div class="counter"></div>

    <div>
        <button type="button" class="greetUpdate">greet me</button>
    </div>

</div>