<div class="row">
    <h3> {{username}}</h3>
    <div>
        {{!-- {{greetedName}} --}}
        <a href="/greeted">
            <button type="submit" class="greeted">greeted</button>
        </a>
    </div>

    <br>

    <div>
        <a href="/">
            <button type="submit" class="home">Home</button>
        </a>
    </div>
</div>