<div class="row">
    <h3> {{username}}</h3>

    <p>{{name}} has been greeted {{count}} times.</p>

    <div>
        <a href="/greeted">
            <button type="button" class="back">Back</button>
        </a>
    </div>
</div>